/* Estilos gerais do header */
@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    background-color: #0D091B;
    height: 100%;
  }
  
  header {
    color: #fff;
    font-family: 'Roboto Slab', serif;
  }
  
  /* Estilos para o topo */
  .topo {
    background-image: url("../../img/fundo-topo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 20px;
    display: flex;
    align-items: top; /* Verifique se "top" é o alinhamento vertical desejado */
  }
  
  /* Estilos para a seção esquerda do topo */
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-left a {
    color: #fff;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    vertical-align: center; /* Remova se não estiver sendo usado */
    font-size: 25px; 
  }
  
  .header-left img { 
    height: 35px;
    vertical-align: center; /* Corrigido: vertical-align: ce; */
  }
  
  /* Estilos para a logo */
  .header-center {
    text-align: center;
  }
  .header-center:hover{
    transform: scale(1.05); /* Aumenta o tamanho em 5% */
  transition: transform 0.2s ease; /* Adiciona uma transição suave */
  }
  
  .logo-vamgark {
    margin-top: -10px;
    height: 60px;
  }

  .logo-vamgark:hover{
    transform: scale(1.05); /* Aumenta o tamanho em 5% */
    transition: transform 0.2s ease; /* Adiciona uma transição suave */
  }
  
  /* Estilos para a seção direita do topo */
  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .search {
    display: flex;
    align-items: center;
    background-color: #191423;
    color: #39344D;
    border-radius: 50px;
    border: 2px solid #39344D;
    padding: 5px 10px;
    margin-right: 40px;
    width: 170px;
  }
  
  .search input {
    background-color: transparent;
    border: none;
    color: #fff;
    margin-left: 10px;
    outline: none;
    width: 100%;
  }
  
  .search input::placeholder {
    color: #39344D; 
  }
  
  /* Prefixos para compatibilidade com navegadores antigos */
  .search input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    color: #39344D;
  }
  .search input::-moz-placeholder { /* Firefox 19+ */
    color: #39344D;
  }
  .search input:-ms-input-placeholder { /* IE 10+ */
    color: #39344D;
  }
  .search input:-moz-placeholder { /* Firefox 18- */
    color: #39344D;
  }
  
  .button {
    background-color: #8a6cdb00;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid white;
  }
  
  /* Estilos para o menu */
  .menu {
    background-color: #191423;
    padding: 10px 10px;
    border-top: 3px solid #39344D;
    border-bottom: 3px solid #39344D;
    margin-top: -20px; 
  }
  
  .nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  .nav-menu a {
    color: #B9B5C7;
    text-decoration: none;
    font-weight: normal;
  }
  
  /* Estilos para "Você está aqui" e pontos */
  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #191423;
    color: #fff;
    font-size: 0.9em;
  }
  
  .current-page {
    background-color: #8a6cdb;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .header-left, 
    .header-center, 
    .header-right {
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-menu li {
      margin: 5px 0;
    }
  
    .header-bottom {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .points {
      margin-top: 5px;
    }
    .page-indicator {
      display: none;
    }
  }
  .page-indicator {
    background-color: #39344D; /* Cor de fundo roxa */
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute; /* Posicionamento absoluto */
    z-index: 10; /* Garante que o indicador fique acima do menu */
    /* Posiciona o indicador abaixo do menu */
    left: 50px; /* Inicialmente, o indicador fica na esquerda */
    font-size: 15px;
    font-weight: lighter;
  }
/* Animações sutis com hover */

.header-left a:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    transition: transform 0.2s ease; /* Adiciona uma transição suave */
  }
  
  .search:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Adiciona uma sombra */
    transition: box-shadow 0.2s ease; /* Adiciona uma transição suave */
  }
  
  .button:hover {
    opacity: 0.8; /* Diminui a opacidade */
    transition: opacity 0.2s ease; /* Adiciona uma transição suave */
  }
  
  .nav-menu a:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Adiciona uma sombra ao texto */
    transition: text-shadow 0.2s ease; /* Adiciona uma transição suave */
  }
  
  .current-page:hover {
    background-color: #755db0; /* Muda a cor de fundo */
    transition: background-color 0.2s ease; /* Adiciona uma transição suave */
  }